In [18]:
import pandas as pd
import numpy as np

In [14]:
data_raw = pd.read_csv('rativ_abierto_2025.csv')
data_raw.head()

/var/folders/tv/w0562myn39v6qt5gybd7_s_80000gn/T/ipykernel_21610/2878627878.py:1: DtypeWarning: Columns (20,22,29,30,36,44,45,54,55,56,62,82,87,88,104,105,106,108,125,127) have mixed types. Specify dtype option on import or set low_memory=False.
  data_raw = pd.read_csv('rativ_abierto_2025.csv')

,MUNICIPIO,ENCUESTA,Día,Mes,Año,Día de la semana,Hora de reporte,Hora de asignación,Calle,Colonia,...,Estado.5,Lesionado 3,Lesionado 3.1,Fallecido 3,Fallecido 3.1,Dictamen Médico.2,Tipo de Ebriedad.2,Conductor a disposición de .2,Manifestación de los hechos.2,Unnamed: 227
0,19,1190001,1,1,2025,4,01:02:00,99,MORONES PRIETO,LOS PINOS,...,99,0,0,0,0,99,99,99,99,NaN
1,19,1190002,1,1,2025,4,18:46:00,99,CROMO,SAN PEDRO 400,...,99,0,0,0,0,99,99,99,99,NaN
2,19,1190003,1,1,2025,4,20:21:00,99,MARIA IZQUIERDO,VALLE ORIENTE,...,99,0,0,0,0,99,99,99,99,NaN
3,19,1190004,1,1,2025,4,21:25:00,99,5 DE MAYO,LOS SAUCES,...,99,0,0,0,0,99,99,99,99,NaN
4,19,1190005,1,1,2025,4,21:36:00,99,GUSTAVO DIAZ ORDAZ,ZONA INDUSTRIAL,...,99,0,0,0,0,99,99,99,99,NaN

In [16]:
data = data_raw[['Día', 'Mes', 'Año', 'Referencia']]

data["date"] = pd.to_datetime(
    data["Mes"].astype(str) + "-" +
    data["Día"].astype(str) + "-" +
    data["Año"].astype(str)
)

/var/folders/tv/w0562myn39v6qt5gybd7_s_80000gn/T/ipykernel_21610/2997280284.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["date"] = pd.to_datetime(

In [28]:
data_final = data[['date', 'Referencia']]
data_final.columns = ['date', 'coords']

# Replace 99 with NaN first
data_final["coords"] = data_final["coords"].replace("99", np.nan)

# Extract latitude (first number)
data_final["latitude"] = data_final["coords"].str.extract(r'^\s*([+-]?\d+\.\d+)\s*,')
# Extract longitude (second number)
data_final["longitude"] = data_final["coords"].str.extract(r',\s*([+-]?\d+\.\d+)\s*$')

# Convert to float
data_final["latitude"] = data_final["latitude"].astype(float)
data_final["longitude"] = data_final["longitude"].astype(float)
data_final = data_final.dropna()

data_final = data_final.drop('coords', axis=1)[['latitude','longitude','date']]
data_final.head()

/var/folders/tv/w0562myn39v6qt5gybd7_s_80000gn/T/ipykernel_21610/1234828254.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_final["coords"] = data_final["coords"].replace("99", np.nan)
/var/folders/tv/w0562myn39v6qt5gybd7_s_80000gn/T/ipykernel_21610/1234828254.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_final["latitude"] = data_final["coords"].str.extract(r'^\s*([+-]?\d+\.\d+)\s*,')
/var/folders/tv/w0562myn39v6qt5gybd7_s_80000gn/T/ipykernel_21610/1234828254.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_final["longitude"] = data_final["coords"].str.extract(r',\s*([+-]?\d+\.\d+)\s*$')
/var/folders/tv/w0562myn39v6qt5gybd7_s_80000gn/T/ipykernel_21610/1234828254.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_final["latitude"] = data_final["latitude"].astype(float)
/var/folders/tv/w0562myn39v6qt5gybd7_s_80000gn/T/ipykernel_21610/1234828254.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_final["longitude"] = data_final["longitude"].astype(float)

    latitude   longitude       date
0  25.671176 -100.396215 2025-01-01
1  25.683424 -100.417420 2025-01-01
2  25.647660 -100.332841 2025-01-01
3  25.661059 -100.410031 2025-01-01
4  25.675487 -100.417683 2025-01-01

In [29]:
data_final.isnull().sum()

latitude     0
longitude    0
date         0
dtype: int64

In [30]:
data_final.to_csv('accidents.csv', index=False)